In [ ]:
# import pandas as pd

In [2]:
import pandas as pd

In [13]:
history_price_df = pd.read_html('https://inkplant.com/code/state-latitudes-longitudes')[0]
history_price_df

                   State   Latitude   Longitude
0                Alabama  32.806671  -86.791130
1                 Alaska  61.370716 -152.404419
2                Arizona  33.729759 -111.431221
3               Arkansas  34.969704  -92.373123
4             California  36.116203 -119.681564
5               Colorado  39.059811 -105.311104
6            Connecticut  41.597782  -72.755371
7               Delaware  39.318523  -75.507141
8   District of Columbia  38.897438  -77.026817
9                Florida  27.766279  -81.686783
10               Georgia  33.040619  -83.643074
11                Hawaii  21.094318 -157.498337
12                 Idaho  44.240459 -114.478828
13              Illinois  40.349457  -88.986137
14               Indiana  39.849426  -86.258278
15                  Iowa  42.011539  -93.210526
16                Kansas  38.526600  -96.726486
17              Kentucky  37.668140  -84.670067
18             Louisiana  31.169546  -91.867805
19                 Maine  44.693947  -69.381927
20              Maryland  39.063946  -76.802101
21         Massachusetts  42.230171  -71.530106
22              Michigan  43.326618  -84.536095
23             Minnesota  45.694454  -93.900192
24           Mississippi  32.741646  -89.678696
25              Missouri  38.456085  -92.288368
26               Montana  46.921925 -110.454353
27              Nebraska  41.125370  -98.268082
28                Nevada  38.313515 -117.055374
29         New Hampshire  43.452492  -71.563896
30            New Jersey  40.298904  -74.521011
31            New Mexico  34.840515 -106.248482
32              New York  42.165726  -74.948051
33        North Carolina  35.630066  -79.806419
34          North Dakota  47.528912  -99.784012
35                  Ohio  40.388783  -82.764915
36              Oklahoma  35.565342  -96.928917
37                Oregon  44.572021 -122.070938
38          Pennsylvania  40.590752  -77.209755
39          Rhode Island  41.680893  -71.511780
40        South Carolina  33.856892  -80.945007
41          South Dakota  44.299782  -99.438828
42             Tennessee  35.747845  -86.692345
43                 Texas  31.054487  -97.563461
44                  Utah  40.150032 -111.862434
45               Vermont  44.045876  -72.710686
46              Virginia  37.769337  -78.169968
47            Washington  47.400902 -121.490494
48         West Virginia  38.491226  -80.954453
49             Wisconsin  44.268543  -89.616508
50               Wyoming  42.755966 -107.302490

In [3]:
history_price_df = pd.read_html('https://finance.yahoo.com/quote/SPY/history?p=SPY')[0]
history_price_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Mar 04, 2020",306.12,313.10,303.33,312.86,312.86,176025500
1,"Mar 03, 2020",309.50,313.84,297.57,300.24,300.24,300139100
2,"Mar 02, 2020",298.21,309.16,294.46,309.09,309.09,238703600
3,"Feb 28, 2020",288.70,297.89,285.54,296.26,296.26,385764000
4,"Feb 27, 2020",305.46,311.56,297.51,297.51,297.51,284353500
...,...,...,...,...,...,...,...
96,"Oct 16, 2019",298.37,299.16,297.92,298.40,296.94,48928200
97,"Oct 15, 2019",297.10,299.70,296.97,298.88,297.42,46754500
98,"Oct 14, 2019",295.93,296.67,295.57,295.95,294.50,40394800
99,"Oct 11, 2019",296.27,298.74,296.14,296.28,294.83,98720400
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [4]:
history_price_df =history_price_df.iloc[:3]
history_price_df

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Mar 04, 2020  306.12  313.10  303.33  312.86      312.86  176025500
1  Mar 03, 2020  309.50  313.84  297.57  300.24      300.24  300139100
2  Mar 02, 2020  298.21  309.16  294.46  309.09      309.09  238703600

In [5]:
Options_df = pd.read_html('https://finance.yahoo.com/quote/SPY/options?p=SPY')[0]
Options_df.head()

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,SPY200306C00210000,2020-03-03 4:06PM EST,210.0,86.65,0.00,0.00,0.0,-,-,0,0.00%
1,SPY200306C00215000,2020-03-03 3:51PM EST,215.0,81.66,0.00,0.00,0.0,-,-,0,0.00%
2,SPY200306C00230000,2020-03-02 12:23PM EST,230.0,72.00,0.00,0.00,0.0,-,-,0,0.00%
3,SPY200306C00233000,2020-03-03 10:06PM EST,233.0,66.86,72.64,73.52,0.0,-,-,-,0.00%
4,SPY200306C00235000,2020-03-02 3:47PM EST,235.0,75.62,0.00,0.00,0.0,-,-,0,0.00%

In [6]:
Options_df.dtypes

Contract Name          object
Last Trade Date        object
Strike                float64
Last Price            float64
Bid                    object
Ask                   float64
Change                float64
% Change               object
Volume                 object
Open Interest          object
Implied Volatility     object
dtype: object

In [7]:
Options_df['Last Trade Date'] = Options_df['Last Trade Date'].map(lambda x:x.split(' ')[0])

In [8]:
Options_df = Options_df.rename(columns={"Last Trade Date": "Date"})
Options_df = Options_df.sort_values(by='Date', ascending=False)

Options_df['Date'] = pd.to_datetime(Options_df['Date'])
begin_date = '2020-01-27'
Options_df = Options_df.loc[(Options_df['Date'] >= begin_date)]
Options_df

,Contract Name,Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
77,SPY200306C00308000,2020-03-04,308.0,6.11,0.00,0.0,0.0,-,2570,0,0.00%
80,SPY200306C00309500,2020-03-04,309.5,5.00,0.00,0.0,0.0,-,841,0,0.00%
93,SPY200306C00320000,2020-03-04,320.0,0.63,0.00,0.0,0.0,-,4033,0,6.25%
92,SPY200306C00319000,2020-03-04,319.0,0.82,0.00,0.0,0.0,-,1096,0,6.25%
91,SPY200306C00318000,2020-03-04,318.0,1.09,0.00,0.0,0.0,-,1694,0,6.25%
...,...,...,...,...,...,...,...,...,...,...,...
145,SPY200306C00363000,2020-02-19,363.0,0.01,0.00,0.0,0.0,-,-,0,50.00%
148,SPY200306C00366000,2020-02-19,366.0,0.01,0.00,0.0,0.0,-,-,0,50.00%
149,SPY200306C00367000,2020-02-18,367.0,0.01,0.00,0.0,0.0,-,50,0,50.00%
144,SPY200306C00362500,2020-02-14,362.5,0.01,0.00,0.0,0.0,-,1,0,50.00%
152,SPY200306C00370000,2020-02-12,370.0,0.01,0.00,0.0,0.0,-,20,0,50.00%

In [14]:
candidates_df = pd.read_csv('data_president_primary_polls.csv')
candidates_df

/Users/piruzalemi/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,question_id,poll_id,cycle,state,pollster_id,pollster,sponsor_ids,sponsors,display_name,pollster_rating_id,...,nationwide_batch,created_at,notes,url,stage,party,answer,candidate_id,candidate_name,pct
0,119604,64702,2020,NaN,1189,Morning Consult,NaN,NaN,Morning Consult,218.0,...,False,3/3/20 12:02,NaN,https://morningconsult.com/2020/03/03/biden-re...,primary,DEM,Biden,13256,Joseph R. Biden Jr.,36.0
1,119604,64702,2020,NaN,1189,Morning Consult,NaN,NaN,Morning Consult,218.0,...,False,3/3/20 12:02,NaN,https://morningconsult.com/2020/03/03/biden-re...,primary,DEM,Sanders,13257,Bernard Sanders,28.0
2,119604,64702,2020,NaN,1189,Morning Consult,NaN,NaN,Morning Consult,218.0,...,False,3/3/20 12:02,NaN,https://morningconsult.com/2020/03/03/biden-re...,primary,DEM,Bloomberg,13289,Michael Bloomberg,19.0
3,119604,64702,2020,NaN,1189,Morning Consult,NaN,NaN,Morning Consult,218.0,...,False,3/3/20 12:02,NaN,https://morningconsult.com/2020/03/03/biden-re...,primary,DEM,Warren,13258,Elizabeth Warren,14.0
4,119627,64708,2020,NaN,568,YouGov,352,Economist,YouGov,391.0,...,False,3/4/20 09:42,NaN,https://d25d2506sfb94s.cloudfront.net/cumulus_...,primary,REP,Trump,13254,Donald Trump,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18289,92392,57184,2020,NaN,1416,Harris Insights & Analytics,960,Hill.TV,HarrisX,133.0,...,False,12/27/18 03:50,NaN,https://thehill.com/hilltv/what-americas-think...,primary,DEM,Sanders,13257,Bernard Sanders,20.0
18290,92392,57184,2020,NaN,1416,Harris Insights & Analytics,960,Hill.TV,HarrisX,133.0,...,False,12/27/18 03:50,NaN,https://thehill.com/hilltv/what-americas-think...,primary,DEM,Booker,13287,Cory A. Booker,5.0
18291,92392,57184,2020,NaN,1416,Harris Insights & Analytics,960,Hill.TV,HarrisX,133.0,...,False,12/27/18 03:50,NaN,https://thehill.com/hilltv/what-americas-think...,primary,DEM,Harris,13288,Kamala D. Harris,5.0
18292,92392,57184,2020,NaN,1416,Harris Insights & Analytics,960,Hill.TV,HarrisX,133.0,...,False,12/27/18 03:50,NaN,https://thehill.com/hilltv/what-americas-think...,primary,DEM,Bloomberg,13289,Michael Bloomberg,5.0
18293,92392,57184,2020,NaN,1416,Harris Insights & Analytics,960,Hill.TV,HarrisX,133.0,...,False,12/27/18 03:50,NaN,https://thehill.com/hilltv/what-americas-think...,primary,DEM,Clinton,13290,Hillary Rodham Clinton,16.0

In [12]:
historical_price_df = pd.read_csv('SPY.csv')
historical_price_df = historical_price_df.sort_values(by='Date', ascending=False)
historical_price_df['Date'] = pd.to_datetime(historical_price_df['Date'])
most_one_week_df = historical_price_df.loc[(historical_price_df['Date'] >= begin_date)]
most_one_week_df

FileNotFoundError: [Errno 2] File b'SPY.csv' does not exist: b'SPY.csv'

In [ ]:
Stock_Option_df = pd.merge(Options_df, most_one_week_df, on='Date', how='left')

In [ ]:
Stock_Option_df

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
import psycopg2 
import io

In [ ]:
# Path to SQL_PGADMIN
#database_path = "http://localhost:5432/stockoptions"
# .   Connects!
#engine = create_engine('postgresql://postgres:yzp911107@localhost:5432/',pool_size=20,max_overflow=-1)
#connection = engine.connect()
#conn = engine.connect()

In [ ]:
# Path to SQlAdmin
database_path = "http://localhost:5432/SPY"

In [ ]:
# .  does connect
engine = create_engine('postgresql://postgres:Roshan2017@localhost:5432/SPY',pool_size=20,max_overflow=-1)
#connection = engine.connect()
conn = engine.connect()
# https://martin-thoma.com/configuration-files-in-python/

In [ ]:
Stock_Option_sql = Stock_Option_df.rename(columns={"Contract Name":"ContractName",
                                               "Last Price":"LastPrice",
                                               "% Change":"PercentChange",
                                               "Open Interest":"OpenInterest",
                                               "Implied Volatility":"ImpliedVolatility",
                                               "Adj Close":"AdjClose",
                                                  "Open":"OpenPrice",
                                                  "Close":"ClosePrice"})

In [10]:
Stock_Option_sql.head()

NameError: name 'Stock_Option_sql' is not defined

In [11]:
session = Session(bind=engine)

NameError: name 'Session' is not defined

In [ ]:
#session.add(Stock_Option_sql)

In [ ]:
Stock_Option_sql.to_sql(name="contracts", con=engine, if_exists="replace", index=False)

In [ ]:
# The above parameters can be "Replace", "Append" and "Fail"!